.nav-bg{
    background-color: #111827;
    margin-bottom: 30px;
}
.nav-brand{
    font-size: 35px;
    text-decoration: none;
    color: #D8D9DB;
    font-weight: 600;
}
.menu-item{
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 500;
    color: #D8D9DB;
}
.menu-btn{
    text-decoration: none;
}
.profile{
    margin-left: 20px;
}
.profile img{
    height:45px;
    width:45px;
    border-radius:50%;
}
