.admin-menu{
    background-color: #203D37;
    color: #fff;
    border-radius: 10px;
    padding: 10px
}
.admin-menu ul li{
    list-style: none;
    color: #fff;
}
.admin-menu ul li a{
    text-decoration: none;
    color: #fff;
}
.admin-menu ul li a:hover{
    text-decoration: underline;
}